<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Easy Note It</a>
					<div class="nav-collapse collapse" id="top_control">
						<% if(email){ %><a href="#newNote" role="button" class="btn btn-primary pull-right" data-toggle="modal">+ Add</a><% } %>
						<ul class="nav pull-right">
							<% if( !email){ %>
							<li><a href="/signin">Sign In</a></li>
							<li><a href="/reg">Register</a></li>
							<% } else { %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Panel <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<!--<li><a href="#">Setting</a></li>
									<li class="divider"></li>-->
									<li><a href="/logout">Log Out</a></li>
								</ul>
							</li>
							<% } %>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<% if( !msg ){ %><div id="msg" class="alert alert-message"><%= msg %></div><% } %>
		<%- body %>
		<div id="newNote" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newContent" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="newContent">New Note</h3>
			</div>
			<div class="modal-body">
				<textarea id="newN" rows="5" style="width:95%;"></textarea>
			</div>
			<div class="modal-footer">
				<span id="loading" style="display:none;"><i class="icon-refresh loading"></i>Saving...</span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="save();">Save Note</button>
			</div>
		</div>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jquery-ui.js"></script>
		<script src="/javascripts/bootstrap.js"></script>
		<script type="text/javascript">
			$(function(){
				//$('.note').draggable();
				$.ajax({
					type: 'post',
					url: '/getAll',
					dataType: 'json',
					beforeSend: function(){
						
					},
					success: function(data){
						console.log(data);
						var color_tag = ' note_blue ';
						var html = '';
						for(var k in data){
							html = html +  '<div class="note '+ color_tag +' span3" data-note-id="'+ data[k]._id +'"><div class="note_content">'+ data[k].n_content +'</div></div>';
						}
						$('#note_list').append(html);
					}
				});
			});
			function save(){
				var content = $('#newN').val();
				$.ajax({
					type: 'post',
					url: '/save',
					data: {content: content},
					dataType: 'json',
					beforeSend: function(){
						$('#loading').show();
					},
					success: function(result){
						var id = result[0]._id;
						var content = result[0].n_content;
						var cate = result[0].n_cate;
						var color = result[0].n_color;
						var color_tag = ' note_blue ';
						//to do ---color tag switch
						var html = '<div class="note '+ color_tag +' span3" data-note-id="'+ id +'"><div class="note_content">'+ content +'</div></div>';
						$('#note_list').append(html);
						$('#loading').hide();
						$('#newN').val('');
						//$('.note').draggable();
						$('#newNote').modal('hide');
					},
					error: function(jqXHR, textStatus, errorThrown) {  
						console.log('error ' + textStatus + " " + errorThrown);  
					}
				});
			}
		</script>
	</body>
</html>