		<div class="container span3">
			<form class="form-signin" action="/reg" method="post">
				<h2 class="form-signin-heading">Register</h2>
				<% if(!err){ %><p class="alert alert-error"><%= err %></p><% } %>
				<input id="email" name="email" type="text" class="input-block-level" placeholder="Email address">
				<input id="password" name="password" type="password" class="input-block-level" placeholder="Password">
				<input id="password2" name="password2" type="password" class="input-block-level" placeholder="Repeat Password">
				<button class="btn btn-large btn-primary" type="submit">Register</button>
			</form>
		</div>