		<div class="container span3" style="margin-top: 60px;">
			<form class="form-signin" action="/signin" method="post">
				<h2 class="form-signin-heading">Please sign in</h2>
				<% if(!err){ %><p class="alert alert-error"><%= err %></p><% } %>
				<input id="email" name="email" type="text" class="input-block-level" placeholder="Email address">
				<input id="password" name="password" type="password" class="input-block-level" placeholder="Password">
				<!--<label class="checkbox">
					<input name="remember" type="checkbox" value="remember-me"> Remember me
				</label>-->
				<button class="btn btn-large btn-primary" type="submit">Sign in</button>
			</form>
		</div>